.cards img{
    clip-path: circle();
    margin-right: 30px;
}
.email{
    text-decoration: none;
    font-weight: normal;
    color: black;
    padding: 10px 0 10px 0;
}
.cards{
    display: flex;
    justify-content: center;
    display: flex;
    background: white;
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
    width: 600px;
}


